*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
header{
    font-size: 22px;
    border-bottom: 2px solid orange;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
}
header h4{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
header ul, li, a{
    font-size: 14px;
    color:aqua;
    padding: 2px;
    margin: 0;
}
.section {
    background-color: rgb(240, 240, 184);
    color: black;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
}
.what-is-this {
    border: 10px solid magenta;
}
.section h2 {
    font-size: 38px;
    padding: 0;
    margin-top: 5px;
}
.section p, a {
    font-size: 25px;
}
.orange-line {
    background-color: orange;
    height: 2px;
    border: none;
}
.how-does-this-work {
    border: 10px solid aqua;
}
.how-does-this-work p span {
    font-size: 21px;
    letter-spacing: 1px;
}
.unique-link {
    color: blue;
    text-decoration: underline aqua;
}


 

